/* ESTILOS GLOBAIS
-------------------------------------------------- */
/* Padding abaixo do footer e texto mais suave no <body> */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    
  }
  
  
  /* CUSTOMIZA O CAROUSEL
  -------------------------------------------------- */
  
/* CUSTOMIZA O CAROUSEL
-------------------------------------------------- */

/* Classe base do carousel */
.carousel {
  margin-bottom: 4rem;
}

/* Ajusta a legenda do carousel */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-caption h1{
  color: rgb(255, 255, 255);
/* background-color: rgba(255, 255, 255, 0.37); */
}

/* Configura o tamanho do item do carousel */
.carousel-item {
  height: 50rem; /* Altura do item do carousel */
  background-color: #777; /* Cor de fundo padrão */
  position: relative; /* Necessário para o posicionamento da imagem */
}

/* Ajusta a imagem para ocupar todo o espaço do item do carousel */
.carousel-item img {
  position: absolute; /* Posiciona a imagem absolutamente dentro do contêiner */
  top: 0;
  left: 0;
  width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
  height: 100%; /* Faz a imagem ocupar toda a altura do contêiner */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner, mantendo a proporção */
}

/* Configuração específica para a primeira imagem do slide */
.carousel-item .first-slide {
  object-fit: cover; /* Garante que a imagem cubra o contêiner */
}

  
  /* CONTEÚDO DO MARKETING
  -------------------------------------------------- */
  
  /* Alinha, centralmente, o texto dentro das três colunas abaixo do carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featrurezinhas
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Espaça o elemento <hr> mais */
  }
  
  /* Afina os cabeçalhos de marketing */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  /* CSS RESPONSIVE
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Aumenta o tamanho do conteúdo do carousel */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }